/* This is the master.css file for INFO263's groupID Dev Group N */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-image:url('../Media/simple blue wallpaper wallpapers clean miscellaneous style.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  opacity:0;
}

body > .container {
  padding: 70px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

#map {
    height: 600px;
    position: fixed;
    padding-top:60px;
	border: 20px solid RGBA(255,255,255,0.5);
}

#header {
	background-color:RGBA(255,255,255,0.5);
	width: 100%;
	height: 100%;
	font-size: 25px;
}

h1 {
	padding:20px;
	text-align:left;
	font-size:60px;
	font-family:Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

select {
	position: absolute;
	right: 10px;
	top: 75px;
	-webkit-appearance: button;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-user-select: none;
	background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	background-position: 97% center;
	background-repeat: no-repeat;
	border: 1px solid #AAA;
	color: #555;
	font-size: inherit;
	margin: 20px;
	overflow: hidden;
	padding: 5px 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 300px;
}
